<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
       <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
     <div class="container" style="border:2px dashed black"> 
      <h3>Example Usage:</h3>
      <ul>
        <li ><a href="api/getTimestamp/2015-12-25">UTC</a></li>
        <li ><a href="api/getTimestamp/1451001600000">UNIX</a></li>
        <li ><a href="api/getTimestamp/">Current date</a></li>
        <li ><a href="api/getTimestamp/145100sf16fd0000">invalid date</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://github.com/Princepr8920">Prince</a>
      </p>
    </div>
  </body>
</html>
